  <!-- Footer -->
  <footer class="colored-section" id="footer">
    <div class="container-fluid">
      <p>Ahmed Abbas & Sepehr Ghasemipour © Copyright <%=new Date().getFullYear()%>
      </p>
      <div>
        Icons made by <a class="attribution" href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
        from <a class="attribution" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
      </div>
    </div>
  </footer>

  <!-- Bootstrap Script -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>

</html>
