<%- include("partials/header") -%>

<section class="white-section">
  <div class="container-fluid">

    <p style="font-size:150%"><strong>Thanks for setting up your secret santa group!</strong></p>
    <p style="font-size:150%"> Your code is <strong style="color: #da1212"><%= groupID %></strong></p>
    <p style="font-size:150%"> Please share it with all participants.</p>
    <p style="font-size:150%"> Click <a href=<%=link%> style="color: #da1212">here</a> to see your giftee and input your gift hints.</p>
  
  </div>
</section>

<img src="/images/elf.png">

<%- include("partials/footer") -%>
