<%- include("partials/header") -%>

<section class="white-section">
  <div class="container-fluid">

    <p style="text-align:left">Please enter your group code.</p>
    
    <form method="post" style="text-align:left">
      <div class="mb-3">
        <input type="text" name="groupID" class="form-control" placeholder="Group Code">
        <div class="form-text">Your group's organizer should have shared this with you.</div>
      </div>
      <button type="submit" class="btn btn-danger">Submit</button>
    </form>

  </div>
</section>

<%- include("partials/footer") -%>
