<%- include("partials/header") -%>

<% if (tooFew) { %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Ho Ho Hold on there!</strong> You need at least 3 participants to create a group.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>

<section class="white-section">
  <div class="container-fluid">
    
    <p style="text-align:left">Please fill in the following fields to create your group.</p>

    <form method="post" style="text-align:left">
      <div class="mb-3">
        <input type="text" name="groupName" class="form-control" placeholder="Group Name" required autofocus>
      </div>
      <div class="mb-3">
        <input type="number" name="groupBudget" class="form-control" placeholder="Budget" required>
      </div>

      <div id="participants"></div>

      <div style="text-align:center">
        <button type="button" class="btn btn-danger" onclick="javascript:add()">Add participant</button>
      </div>
      <button type="submit" class="btn btn-danger">Submit</button>
    </form>

  </div>
</section>

<script src="/js/new.js" charset="utf-8"></script>

<%- include("partials/footer") -%>
