body {
  font-family: "Montserrat";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold";
}

/* Headings */
.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 7% 12%;
}

/* Sections */
.colored-section {
  background-color: #da1212;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

.apply-button {
  color: black;
  font-size: 1rem;
}

.remove-participant-button {
  margin-left: 1%;
}

/* Title Section */
#navbar .container-fluid {
  padding: 3% 12% 3%;
}

#title .container-fluid {
  padding: 3% 12% 7%;
}

.title-image {
  width: 75%;
  text-align: center;
}

/* Pricing Section */

.price-text {
  font-size: 2rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* Footer Section */
#footer .container-fluid {
  padding: 7% 12% 4%;
}

.attribution {
  color: #fff;
}

.vertically-center {
  display: flex;
  align-items: center;
}


@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
